<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>507570401402-s5jstqj4hlft4ddc791rgov6l4kplt2o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.507570401402-s5jstqj4hlft4ddc791rgov6l4kplt2o</string>
	<key>API_KEY</key>
	<string>AIzaSyComNABfkBCSkoH95AocAJh8BJHcQYOL58</string>
	<key>GCM_SENDER_ID</key>
	<string>507570401402</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thiagocenturion.voluntaryhands</string>
	<key>PROJECT_ID</key>
	<string>voluntary-hands</string>
	<key>STORAGE_BUCKET</key>
	<string>voluntary-hands.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:507570401402:ios:ea806f21106640290c8bc3</string>
	<key>DATABASE_URL</key>
	<string>https://voluntary-hands.firebaseio.com</string>
</dict>
</plist>